# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/
coverage/
.flutter-*

# Android
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
local.properties
.gradle/
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/build/
*.xcuserstate

# macOS
macos/Flutter/ephemeral/
macos/build/
*.xcuserstate

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# Web
web/.dart_tool/
web/build/

# IDEs
.idea/
.vscode/
*.swp

# Misc
pubspec.lock
*.lock
*.log
*.tmp
*.bak
